* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f7f5;
}

.container {
    width: 400px;
    margin: 60px auto;
    padding: 30px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.email-section {
    margin-top: 15px;
}

.email-section span {
    font-size: 12px;
    color: #777;
}

.email-section small {
    display: block;
    margin-top: 5px;
    color: #777;
    font-size: 12px;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 11px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    width: 100%;
    margin-top: 25px;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background: #276257;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #013D3D;
}

#message {
    text-align: center;
    margin-top: 15px;
}